@(filename : String, tipp : com.globalsight.tip.TIPP, status : com.globalsight.tip.TIPPLoadStatus)

@response {
	<h1>@filename couldn't be processed :(</h1>
	<div class="row">
		This usually means that something's gone really wrong, like the ZIP file is corrupt 
		or the manifest couldn't be parsed as XML.  It's also possible that @filename wasn't a 
		TIPP at all!  I did as much as I could to diagnose the problem,
		but you may need to look at it by hand in order to solve this. 
	</div>
	@tipperrors(status)
}
