@()
@import helper._

@main("TIPP 1.5 Validator") {

    <h1>TIPP 1.5 Validator</h1>
    <p>This tool will validate TIPP packages against the 
       <a href="https://code.google.com/p/interoperability-now/wiki/TIPP15">TIPP 1.5</a> schema
       and perform additional conformance checks as required by the specification.</p>
    @helper.form(action = routes.Application.validate(),
                 'enctype -> "multipart/form-data") {
        <fieldset>
	    <legend>Choose a TIPP to Validate</legend>
	    <label class="file">
	        <input type="file" name="tippupload">
        </label>
        <button type="submit" class="btn">Submit</button>
        </fieldset>
    }
}
